---
# - name: Set netplan custom nameservers
#   ansible.builtin.include_tasks: set_netplan_nameservers.yml
#   when: set_netplan_nameservers

- name: Add custom host entries to /etc/hosts
  ansible.builtin.blockinfile:
    path: /etc/hosts
    block: "{{ custom_etc_hosts_entries }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK - custom hosts"
  when: add_custom_etc_hosts_entries

- name: Set private repo for apt sources.list
  ansible.builtin.include_tasks: private_apt_sources_list.yml
  when:
    - private_apt_sources_list
    - ansible_os_family == 'Debian'

- name: Install docker
  ansible.builtin.include_role:
    name: docker
  vars:
    docker_repo_url: "{{ custom_docker_repo_url }}"
  when: install_docker

- name: Install packages
  ansible.builtin.include_tasks: install_packages.yml
  when: install_initial_packages

- name: Add users and groups. Set hostname and timezone
  ansible.builtin.include_tasks: users_and_groups.yml
  when: create_users_and_groups

- name: Configure sshd to change default port
  ansible.builtin.include_tasks: change_ssh_port.yml
  when: change_ssh_port

- name: Configure systemd-resolved
  ansible.builtin.include_tasks: configure_systemd-resolved.yml
  when: configure_systemd_resolved

- name: Harden linux
  ansible.builtin.include_tasks: harden_linux.yml
  when: harden_linux

- name: Apply personal configs
  ansible.builtin.include_tasks: personal_configs.yml
  when: apply_personal_configs
