.vscode
venv
.venv

# playbooks, inventories and hosts
**/inventory.y*ml
**/playbook.y*ml
**/playbooks/*.y*ml
**/inventories
**/hosts
**/secrets.y*ml

# pem files
**/**.pem
**/*.key

# nginx static websites except one
roles/xray_nginx/files/var/www/*
!roles/xray_nginx/files/var/www/html
roles/boltbot

# x-ui.db
roles/3x-ui/files/*.db

# wgcf binary
wgcf

.secrets.baseline

# installed roles
roles/geerlingguy.certbot
roles/geerlingguy.docker

