.vscode
venv/

# playbooks, inventories and hosts
**/inventory.y*ml
**/playbook.y*ml
**/playbooks
**/inventories
**/hosts

# pem files
**/**.pem

# nginx static websites except one
roles/xray_nginx/files/var/www/*
!roles/xray_nginx/files/var/www/html

# x-ui.db
roles/3x-ui/files/x-ui.db