version: '3.9'
services:
  xui:
    image: {{ xui_image }}
    volumes:
      - {{ xui_data_dir }}/db:{{ xui_db_folder }}
      - {{ xui_data_dir }}/certs:/etc/x-ui/certs

    restart: unless-stopped
    # network_mode: host
    environment:
      - XUI_DB_FOLDER={{ xui_db_folder }}
    ports:
      - 80:80
      - 443:443
      - 444:444
      - {{ xui_port }}:{{ xui_port }}
    healthcheck:
      test: ["CMD", "nc", "-z", "-v", "127.0.0.1", "443"]
      interval: 20s
      timeout: 5s
      retries: 7
      start_period: 5s
    entrypoint:
      ["/app/x-ui"]
      #["/bin/sh", "-c", "ln -sf /proc/1/fd/1 /app/access.log; ln -sf /proc/1/fd/2 /app/error.log; /app/x-ui"]