version: '3.9'
services:
  xui:
    image: {{ xui_image }}
    # container_name: x-ui
    volumes:
      - {{ xui_data_dir }}/db:{{ xui_db_folder }}
      - {{ xui_data_dir }}/certs:/etc/x-ui/certs

    restart: unless-stopped
    # network_mode: host
    environment:
      - XUI_DB_FOLDER={{ xui_db_folder }}
    ports:
      - 80:80
      - 443:443
      - 445:445
      - 334:334
      - 2095:2095
      - 2053:2053
      - 1443:1443
      - 8443:8443
      - {{ xui_port }}:{{ xui_port }}

#  nginx:
#    image: {{ nginx_image }}
#    restart: unless-stopped
#    volumes:
#      - {{ xui_project_dir }}/nginx.conf:/etc/nginx/conf.d/default.conf
#      - {{ xui_project_dir }}/html:/usr/share/nginx/html
