
[sshd]
enabled = true

{% if change_ssh_port | bool %}
port = {{ alternative_ssh_port }}
{% else %}
port = ssh
{% endif %}

filter = sshd
backend = systemd
maxretry = 3
findtime = 300
bantime = 3600
ignoreip = 127.0.0.1