
[sshd]
enabled = true

{% if change_ssh_port | bool %}
port = {{ alternative_ssh_port }}
{% else %}
port = ssh
{% endif %}

filter = sshd
logpath = /var/log/auth.log
maxretry = 6
findtime = 300
bantime = 3600
ignoreip = 127.0.0.1