[Resolve]
DNS={{ resolved_main_dns_servers }}
FallbackDNS={{ resolved_fallback_dns_servers }}
#Domains=
DNSSEC=allow-downgrade
DNSOverTLS=no
#MulticastDNS=no
LLMNR=no
Cache=no-negative
CacheFromLocalhost=no

{% if resolved_alternative_local_listen_port %}
DNSStubListener=no
DNSStubListenerExtra=127.0.0.53:{{ resolved_alternative_local_listen_port }}
{% endif %}

ReadEtcHosts=yes
#ResolveUnicastSingleLabel=no
#StaleRetentionSec=0
