services:
  marzban:
    image: gozargah/marzban:{{ marzban_image_tag | default('latest')}}
    restart: unless-stopped
    env_file: env
    # network_mode: host
    ports:
      - 443:443
      - 4443:4443
      - 8443:8443
      - 334:334
      - 80:80
      - 2095:2095
 
    volumes:
      - {{ marzban_data_dir }}/run:/run
      - ./xray_config.json:{{ xray_json }}
      - {{ marzban_data_dir }}:{{ marzban_container_data_dir }}

  nginx:
    image: nginx:{{ nginx_image_tag }}
    restart: unless-stopped
    volumes:
      - {{ marzban_data_dir }}/run:/run
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./decoy.html:/usr/share/nginx/html/index.html
